{% extends 'stream/main.html' %}
{% load static %}
{% block content %}

<main>

    <section id="form-container">

        <div id="welcome-message">
            <h1>ExamHall</h1>
            <p>Please enter ExamHall name provided</p>
        </div>
        <div class = 'name-class' id = "name" data-value="{{usr_name}}"> </div>
        <form id="form">
            <div class="field-wrapper">

                <div class="form-field">
                    <label>Room:</label>
                    <input name="room" placeholder="Enter exam room name provided" />
                </div>
            

                <div class="form-field">
                    <input type="submit" value="Join" />
                </div>
            </div>
        </form>
    </section>
</main>

<script>
    let form = document.getElementById('form')
    let uname = document.getElementById('name')
    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        let name = uname.getAttribute('data-value')

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)

        window.open('/room/', '_self')
    }



    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}

