{% extends 'stream/main.html' %}
{% load static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>ExamHall Name: <span id="room-name"></span></p>
    </section>

    <!-- <h3 class="card-title">
        <i class="fas fa-bell fa-2x mr-1"></i>
        <a href="{% url 'lobby' %}  " target ="_blank">Question Form </i></a>
     
    </h3> -->

    <button name="Question Form" onClick="redirect()" >

        <script type="text/javascript">
        function redirect()
        {
        var url = sessionStorage.getItem('formurl')
        window.open(url,'_blank');
        }
        </script>
    </button>

    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'images/end1.jpg' %}" />
        </div>
    </section>
</main>


<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>
{% endblock content %}